# Default ignored files
/shelf/
/workspace.xml


# Gradle and Maven with auto-import
 .idea/artifacts
 .idea/compiler.xml
 .idea/jarRepositories.xml
 .idea/modules.xml
 .idea/*.iml
 .idea/modules
 *.iml
 *.ipr


 # files Intellij added that I don't think are needed
 */*.pb
 .idea/*.xml

